# macOS
.DS_Store

# Dev files and directories
ui/node_modules/
ui/build/
vendor/

# Final results
*.app
pkged.go
bin

# Packages for local import
cmd/go.mod
pkg/content/go.mod
pkg/env/go.mod
pkg/log/go.mod
